
    <div id="inner_88box">
      <div class="topic_box">
        <a href="/topics/<%= @topic.id %>" alt="<%= @topic.title %>">
        <img src="<%= @topic.image_url %>" alt="<% @topic.title %>画像">
          <h3 class="title"><%= @topic.title %></h3></a>
          <p class="genre"><%= @topic.genre %></p>
          <p class="text"><%= truncate(@topic.text, omission: '...', length: 50) %></p>
          
      </div>
    </div>
