
<% if topic.like_count = 1 %>
      <%= button_to tweet_like_path(like, tweet_id: tweet.id), method: :delete, id: "like-button", remote: true do %>
      <%= image_tag("icon_red_heart.svg") %>
      <span>
        <%= tweet.like_count %>
      </span>
<% elsif %>
      <%= button_to tweet_likes_path(tweet), id: "like-button", remote: true do %>
      <%= image_tag("icon_heart.svg") %>
      <span>
        <%= tweet.like_count %>
      </span>
<% end %>