    <div id="grobal">
      <div id="inner_grobal" class="clearfix">
        <div id="inner_88box">

          <hr class="dotted">
          <h1 class="pagetitle"><%= current_user.nickname %>さんがLikeした記事一覧</h1>
          <hr class="dotted">
        </div>

        <div class="left">
          <h2 class="genre_head">技術面</h2>
          <span class="big_arrow">v</span>
          <% @topics.each do |topic| %>

            <% if topic.genre == "programming" %>
              <div class="topic_box">
                <a href="/topics/<%= topic.id %>" alt="<%= topic.title %>">
                <img src="<%= topic.image_url %>" alt="<% topic.title %>画像">
                  <h3 class="title"><%= topic.title %></h3>
                  <p class="genre"><%= topic.genre %></p>
                  <p class="text"><%= truncate(topic.text, omission: '...', length: 50) %></p>
                  </a>
                  <a class="url">記事全文</a>

                    <%= link_to "- Likeの取り消し", "/topics/#{topic.id}/likes/#{topic.like_user(current_user).id}", class: 'like_button', method: :delete %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="right">
          <h2 class="genre_head">依存症面</h2>
          <span class="big_arrow">v</span>
          <% @topics.each do |topic| %>
            <% if topic.genre == "addiction" %>
              <div class="topic_box">
                <a href="/topics/<%= topic.id %>" alt="<%= topic.title %>">
                <img src="<%= topic.image_url %>" alt="<% topic.title %>画像">
                  <h3 class="title"><%= topic.title %></h3>
                  <p class="genre"><%= topic.genre %></p>
                  <p class="text"><%= truncate(topic.text, omission: '...', length: 50) %></p>
                  </a>
                  <a class="url">記事全文</a>
                  <%= link_to "Likeの取り消し", "/topics/#{topic.id}/likes/#{topic.like_user(current_user).id}", class: 'like_button', method: :delete %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
