<!DOCTYPE html>
<html>
<head>
<title>Newsapp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div header class="header_navi_user">
      <% if user_signed_in? %>
        <%= current_user.nickname %>
        <a href="/users/<%= current_user.id %>">マイページ</a>
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete %>
      <% else %>
          <%= link_to "ログイン",new_user_session_path %>
          <%= link_to "新規登録",new_user_registration_path %>
      <% end %>
    </div>
    <div id="header_navi">
      <h1 class="app_title"><a href="/"><span style="font-size:12px;">日刊</span> Papreback</a></h1>
      <a class="menu">キリヌキ一覧</a>
      <a class="menu selected">新着記事一覧</a>
    </div>
    <div id="inner_88box">
      <hr class="dotted">
      <p>『』とは、眠っている間に新着の「プログラミング関連ニュース」と「依存症関連ニュース」だけをまとめてくれる、私にしか需要の無さそうな特注の新聞アプリケーションです。ただでさえニッチな新聞ですが、会員に登録すれば、好きな記事を切り抜いてストックすることもできます!</p>
      <hr class="dotted">
    </div>
  </header>

  <%= yield %>

  <div id="footer">
  a
  </div>

</body>
</html>
